<section class="contacts">
  <div class="contacts-header">
    <p>Contact Us</p>
  </div>

  <div class="contacts-body">
    <div class="container">
      <div class="row">

        <div class="col-md-7">

          <div class="row">

            <div class="col-sm-12">
              <agm-map [latitude]="lat1" [longitude]="lng1" [zoom]="17">
                <agm-marker [latitude]="markerLat1" [longitude]="markerLng1"></agm-marker>
              </agm-map>


            </div>

            <div class="col-sm-12 ">
              <div class="contacts-body-address">
                <div class="row">
                  <div class="col-lg-6">
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> Vlamingstraat 4, 2712BZ</p>
                  </div>
                  <div class="col-lg-6">
                    <p><a href="tel:+31792033163" style="text-decoration: none; color: #212529;"><i class="fa fa-phone"
                          aria-hidden="true"></i>
                        Phone: +31 79 203 3163</a></p>
                  </div>
                  <div class="col-lg-12">
                    <p><i class="fa fa-globe" aria-hidden="true"></i> Zoetermeer, Netherlands</p>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="row ">

            <div class="col-sm-12">
              <agm-map [latitude]="lat2" [longitude]="lng2" [zoom]="17">
                <agm-marker [latitude]="markerLat2" [longitude]="markerLng2"></agm-marker>
              </agm-map>


            </div>

            <div class="col-sm-12 ">
              <div class="contacts-body-address">
                <div class="row">
                  <div class="col-lg-6">
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> Aleq Manukyan str. 1/5 7th</p>
                  </div>
                  <div class="col-lg-6">
                    <p><a href="tel:+37495320235" style="text-decoration: none; color: #212529;"><i class="fa fa-phone"
                          aria-hidden="true"></i>
                        Phone: +374 95 320235</a></p>
                  </div>
                  <div class="col-lg-6">
                    <p><i class="fa fa-globe" aria-hidden="true"></i> Yerevan, Armenia</p>
                  </div>
                  <div class="col-lg-6">
                    <p><a href="tel:+37495320235" style="text-decoration: none; color: #212529;"><i class="fa fa-phone"
                          aria-hidden="true"></i>
                        Phone: +374 95 320235</a></p>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="col-md-5">
          <div class="contact-form">
            <form [formGroup]='form' (ngSubmit)="contactUs()" action="">
              <p class="contact-form-title">
                Don't hesitate and contact us
              </p>

              <div class="form-group">
                <input type="text" class="form-control input-sm" id="name" formControlName="name"
                  placeholder="Full name" required>
              </div>

              <div class="form-group">
                <input type="text" class="form-control input-sm" id="email" formControlName="email"
                  placeholder="Email address" data-error="Bruh, that email address is invalid" required>
              </div>

              <div class="form-group">
                <input class="description" type="text" style="height:60px; padding-top: 0;" class="form-control"
                  id="description" formControlName="description" placeholder="Project description" required>
              </div>

              <div class="form-group">
                <div class="recaptcha">
                  <re-captcha (resolved)="resolved($event)" siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
                    class="g-recaptcha" data-callback="recaptchaCallback"></re-captcha>
                </div>

              </div>

              <input type="submit" class="btn" [disabled]="!form.valid">

            </form>
          </div>


        </div>
      </div>
    </div>

  </div>
</section>
