<section class="blogs">
  <div class="row m-0 ">
    <div class="col-sm-12 p-0">
      <div class="blogs-header">
        <div class="justify-content-center blogs-column">
          <p>ARize Blog, Articles and News</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row blogs-body">
      <div class="col-md-8 blogs-items">

        <div *ngFor="let blog of blogs">
          <article *ngIf="blog.outSrc === ''" class="blogs-post">
            <a [routerLink]="['/blogs', blog.id]">
              <header>
                <h2>{{blog.title}} </h2>
                <div>
                  <i class="fa fa-user"></i><span itemprop="creator">{{blog.author}}</span>
                  <i class="fa fa-clock-o"></i> <time itemprop="dateCreated">{{blog.date}}</time>
                </div>
              </header>
              <div class="post-image">
                <img src={{blog.image}} alt={{blog.title}}>
              </div>
              <div>
                <p itemprop="material"> {{blog.intro}} ...
                  <a class="continue-reading" href="#" target="_blank" itemprop="mainEntityOfPage">continue reading
                    &raquo;</a></p>
              </div>
            </a>
          </article>
          <article *ngIf="blog.outSrc.length" class="blogs-post">
            <a href={{blog.outSrc}}>
              <header>
                <h2>{{blog.title}} </h2>
                <div>
                  <i class="fa fa-user"></i><span itemprop="creator">ARize</span>
                  <i class="fa fa-clock-o"></i> <time itemprop="dateCreated">{{blog.date}}</time>
                </div>
              </header>
              <div class="post-image">
                <img src={{blog.image}} alt={{blog.title}}>
              </div>
              <div>
                <p itemprop="material"> {{blog.intro}} ...
                  <a class="continue-reading" href="#" target="_blank" itemprop="mainEntityOfPage">continue reading
                    &raquo;</a></p>
              </div>
            </a>
          </article>
        </div>



      </div>
      <div class="col-md-4">
        <div class="blogs-subscribe">
          <h4>Join our Mailing List</h4>
          <p>Keep up-to-date with the latest news.</p>
          <a class=" subscribe-modal gradient-btn" data-toggle="modal" data-target="#myModal">Subscribe</a>
        </div>
      </div>
    </div>
  </div>
</section>
