<section class="blogs">
  <div class="row blogs-header">
    <div class="col-sm-12 justify-content-center blogs-column">
      <p>ARize Blog, Articles and News</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8">

        <article class="blogs-post">
          <a href="#">
            <header>
              <h2>Bring your Google Poly and Sketchfab content into ARize for free </h2>
              <div>
                <i class="fa fa-user"></i><span itemprop="creator">ARize</span>
                <i class="fa fa-clock-o"></i> <time itemprop="dateCreated">March 06, 2019</time>
              </div>
              <!-- post-details -->
            </header>
            <div class="post-image">
              <img src="../../../assets/img/blog_images/artists-challenge.jpg" alt="Bring your Google Poly and Sketchfab content into ARize for free">
            </div>
            <!-- post-image -->
            <div>
              <p itemprop="material">With the growth of Augmented and Virtual reality technology, the scope of 3D
                content’s implementation became wider than it used to be.Now, searching and discovering various 3D
                objects are not enough for their absolute and efficient implementation, that’s why AR and VR seem to
                become an integral part for 3D platforms such as, Google Poly and Sketchfab. ...
                <a class="continue-reading" href="#" target="_blank" itemprop="mainEntityOfPage">continue reading
                  &raquo;</a></p>
            </div>
            <!-- post-excerpt -->
          </a>
        </article>

        <article class="blogs-post">
          <a href="#">
            <header>
              <h2>Bring your Google Poly and Sketchfab content into ARize for free </h2>
              <div>
                <i class="fa fa-user"></i><span itemprop="creator">ARize</span>
                <i class="fa fa-clock-o"></i> <time itemprop="dateCreated">March 06, 2019</time>
              </div>
              <!-- post-details -->
            </header>
            <div class="post-image">
              <img src="../../../assets/img/blog_images/artists-challenge.jpg" alt="Bring your Google Poly and Sketchfab content into ARize for free">
            </div>
            <!-- post-image -->
            <div>
              <p itemprop="material">With the growth of Augmented and Virtual reality technology, the scope of 3D
                content’s implementation became wider than it used to be.Now, searching and discovering various 3D
                objects are not enough for their absolute and efficient implementation, that’s why AR and VR seem to
                become an integral part for 3D platforms such as, Google Poly and Sketchfab. ...
                <a class="continue-reading" href="#" target="_blank" itemprop="mainEntityOfPage">continue reading
                  &raquo;</a></p>
            </div>
            <!-- post-excerpt -->
          </a>
        </article>


        <article class="blogs-post">
          <a href="#">
            <header>
              <h2>Bring your Google Poly and Sketchfab content into ARize for free </h2>
              <div>
                <i class="fa fa-user"></i><span itemprop="creator">ARize</span>
                <i class="fa fa-clock-o"></i> <time itemprop="dateCreated">March 06, 2019</time>
              </div>
              <!-- post-details -->
            </header>
            <div class="post-image">
              <img src="../../../assets/img/blog_images/artists-challenge.jpg" alt="Bring your Google Poly and Sketchfab content into ARize for free">
            </div>
            <!-- post-image -->
            <div>
              <p itemprop="material">With the growth of Augmented and Virtual reality technology, the scope of 3D
                content’s implementation became wider than it used to be.Now, searching and discovering various 3D
                objects are not enough for their absolute and efficient implementation, that’s why AR and VR seem to
                become an integral part for 3D platforms such as, Google Poly and Sketchfab. ...
                <a class="continue-reading" href="#" target="_blank" itemprop="mainEntityOfPage">continue reading
                  &raquo;</a></p>
            </div>
            <!-- post-excerpt -->
          </a>
        </article>


        <article class="blogs-post">
          <a href="#">
            <header>
              <h2>Bring your Google Poly and Sketchfab content into ARize for free </h2>
              <div>
                <i class="fa fa-user"></i><span itemprop="creator">ARize</span>
                <i class="fa fa-clock-o"></i> <time itemprop="dateCreated">March 06, 2019</time>
              </div>
              <!-- post-details -->
            </header>
            <div class="post-image">
              <img src="../../../assets/img/blog_images/artists-challenge.jpg" alt="Bring your Google Poly and Sketchfab content into ARize for free">
            </div>
            <!-- post-image -->
            <div>
              <p itemprop="material">With the growth of Augmented and Virtual reality technology, the scope of 3D
                content’s implementation became wider than it used to be.Now, searching and discovering various 3D
                objects are not enough for their absolute and efficient implementation, that’s why AR and VR seem to
                become an integral part for 3D platforms such as, Google Poly and Sketchfab. ...
                <a class="continue-reading" href="#" target="_blank" itemprop="mainEntityOfPage">continue reading
                  &raquo;</a></p>
            </div>
            <!-- post-excerpt -->
          </a>
        </article>

      </div>
      <div class="col-md-4">
        <div class="blogs-subscribe">
          <h4>Join our Mailing List</h4>
          <p>Keep up-to-date with the latest news.</p>
          <a class=" subscribe-modal" data-toggle="modal" data-target="#myModal">Subscribe</a>
        </div>
      </div>
    </div>
  </div>
</section>
