<!--   modal  for subscribe    -->
<div class="modal fade modal-form-subscribe" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a id="close-modal" type="button" class="close col-sm-12" data-dismiss="modal"><span aria-hidden="true">&times;
          </span>
          <span class="sr-only"> close</span></a>
        <h4 class="modal-title" id="myModalLabel">
          Subscribe to our mailing list
        </h4>
      </div>
      <div class="modal-body">

        <form [formGroup]='form' (ngSubmit)="myClick()" action="http://arize.io/assets/php/subscribe.php" id="contact_form_subscribe"
          class="from-inline" role="form" data-toggle="validator" method="post">
          <p class="subscribe-description">
            Simply enter your full name and email to be able to receive our latest offers!
          </p>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="sr-only" for="subscribe-name">
                  Your first name"</label>
                <input type="text" class="form-control" id="name" formControlName="name" placeholder="Your full name">
              </div>
              <div class="form-group">
                <label class="sr-only" for="subscribe-email">
                  Your email</label>
                <input type="text" class="form-control" id="email" formControlName="email" placeholder="Your email"
                  data-error="Bruh, that email address is invalid" required>
              </div>
            </div>
            <div class="col-sm-6">
              <!-- reCaptcha -->
              <div class="form-group">
                <re-captcha (resolved)="resolved($event)" siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI" class="g-recaptcha"
                  data-callback="recaptchaCallback"></re-captcha>
              </div>


              <!-- <div class="recaptchaContainer">
              <div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="6Ler1TQUAAAAAHZb9_6YntXwD9B5BAjvD95QBEeR"></div>
              <span id="captcha" style="margin-left:100px;color:red"></span>
            </div> -->
              <!--

            arize recaptcha
            sitekey: 6LeYuoQUAAAAAAAGPhrxuN9frOWYhCRS6_ZZe16k
            secret_key: 6LeYuoQUAAAAAAwyXCbEdBn-j8wj4FnOdH7AwsJh
            -->

              <input type="submit" id="submit" class="btn" [disabled]="!form.valid">
            </div>

            <h4 id="answer" class="modal-title-print"></h4>
          </div>
        </form>




        <!-- <form id="contact_form_subscribe" class="from-inline" action="assets/php/subscribe.php" role="form" data-toggle="validator"
          method="post">
         
          <div class="col-sm-6">
            <div class="form-group">
              <label class="sr-only" for="subscribe-name">
                Your first name"</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Your full name">
            </div>
            <div class="form-group">
              <label class="sr-only" for="subscribe-email">
                Your email</label>
              <input type="text" class="form-control" id="email" name="email" placeholder="Your email" data-error="Bruh, that email address is invalid"
                required>
            </div>
          </div>
          <div class="col-sm-6"> -->
        <!-- reCaptcha -->
        <!-- <div class="recaptchaContainer">
              <div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="6Ler1TQUAAAAAHZb9_6YntXwD9B5BAjvD95QBEeR"></div>
              <span id="captcha" style="margin-left:100px;color:red">
            </div> -->
        <!--
  
                      arize recaptcha
                      sitekey: 6LeYuoQUAAAAAAAGPhrxuN9frOWYhCRS6_ZZe16k
                      secret_key: 6LeYuoQUAAAAAAwyXCbEdBn-j8wj4FnOdH7AwsJh
                      -->

        <!-- <input type="submit" id="submit" class="btn" value="Subscribe!">
          </div>

          <h4 id="answer" class="modal-title-print"></h4>
        </form> -->



      </div>
      <div class="modal-footer">
        <p>
          By providing your email you consent to receiving occasional promotional emails and newsletters.
        </p>
      </div>
    </div>
  </div>
</div>
