<section class="about">
  <div class="row about-header">
    <div class="col-sm-12 justify-content-center about-column">
      <p>About us</p>
    </div>
  </div>

  <div class="container">
    <div class="row about-body">
      <div class="col-md-8 about-items">


        <article class="about-post">

          <header>
            <h2>ARize </h2>
            <div>
              <i class="fa fa-user"></i><span itemprop="creator">About ARize </span>
              <i class="fa fa-clock-o"></i> <time itemprop="dateCreated"> September 1, 2017</time>
            </div>
          </header>
          <div class="post-image">
            <img src="../../../assets/img/about.png">
          </div>
          <!-- post-image -->
          <div>
            <h3>ARizePlatform:</h3>
            <p> ARize is an Augmented Reality platform where everyone can create their own AR samples and use them both
              for fun and for professional purposes.</p>
            <p>The creation process doesn't require any technical skill, it is as easy as making a post in any
              well-known social platform.</p>
            <p>ARize is also a platform for 3D modelers and 2D animators to showcase their art in a new, innovative and
              easily accessible way. ARize mobile app is available for iOS and Android users.</p>
            <p>Our mission is to make ARize Platform as an integral part of people’s daily life, so they can use it for
              both, personal and professional purposes.</p>
          </div>

        </article>




      </div>
      <div class="col-md-4">
        <div class="about-subscribe">
          <h4>Join our Mailing List</h4>
          <p>Keep up-to-date with the latest news.</p>
          <a class=" subscribe-modal gradient-btn" data-toggle="modal" data-target="#myModal">Subscribe</a>
        </div>
      </div>
    </div>
  </div>
</section>
