<section class="blog-article">

  <div class="container" *ngFor="let blog of post">
    <div class="row">

      <div class="col-md-8">


        <article class="blog-article-post">

          <!-- blog header -->
          <header>
            <h2>{{blog.title}} </h2>
            <div>
              <i class="fa fa-user"></i><span>{{blog.author}}</span>
              <i class="fa fa-clock-o"></i> <time>{{blog.date}}</time>
              <div class="post-image">
                <img src={{blog.image}} alt={{blog.title}} style="margin-bottom: 50px">
              </div>
            </div>
          </header>

          <!-- blog body -->
          <div class="container">

            <div class="row">

              <div *ngFor="let content of blog.content" [ngClass]="{
                'col-lg-12':content.position === 'full',
                'col-lg-6':content.position !== 'full'
               }">


                <div *ngIf="content.type === 'text'">
                  <div *ngFor="let p of content.src">
                    <p [innerHTML]="p"></p>
                  </div>
                </div>


                <div *ngIf="content.type === 'photo'">
                  <img src={{content.src}} alt="">
                  <p style="text-align:center; font-size: 13px;"> <em><b>{{content.photoTitle}}</b></em></p>
                </div>


                <div *ngIf="content.type === 'video'">
                  <video width="100%" controls autoplay>
                    <source src={{content.src}} type="video/mp4">
                  </video>
                  <p style="text-align:center; font-size: 13px;"> <em><b>{{content.videoTitle}}</b></em></p>
                </div>

                <div *ngIf="content.type === 'iframe'">
                  <iframe width="100%" height="350px" [src]='sanitizer.bypassSecurityTrustResourceUrl(content.src)'>
                  </iframe>
                  <p style="text-align:center; font-size: 13px;"> <em><b>{{content.videoTitle}}</b></em></p>
                </div>

                <div *ngIf="content.type === 'form'">
                  <app-contactus-forms></app-contactus-forms>
                </div>


                <div *ngIf="content.type === 'card'" class="card"
                  [ngStyle]="{'background':getBackground(content.background)}">
                  <div class="row">
                    <div class="col-md-6">
                      <img src={{content.src}} alt="">
                      <p style="text-align:center; font-size: 13px; color: #eae6e6;">
                        <em><b>{{content.photoTitle}}</b></em></p>
                    </div>
                    <div class="col-md-6 callToAction" *ngIf="content.link.length === 0">
                      <h2 class="">{{content.callToAction}}</h2>
                      <input type="button" value="Click Me" data-toggle="modal" data-target="#contactUsModal"
                        class="subscribe-modal" [ngStyle]="{'background':getBackground(content.btnBackground)}">
                    </div>
                    <div class="col-md-6 callToAction" *ngIf="content.link.length > 0">
                      <h2 class="">{{content.callToAction}}</h2>
                      <a href={{content.link}}><input type="button" value="Click Me"
                          [ngStyle]="{'background':getBackground(content.btnBackground)}"> </a>
                    </div>
                  </div>
                  <app-contactus-modal></app-contactus-modal>
                </div>



              </div>
            </div>




          </div>
        </article>


      </div>
      <div class="col-md-4">
        <div class="blog-article-subscribe">
          <h4>Join our Mailing List</h4>
          <p>Keep up-to-date with the latest news.</p>
          <a class=" subscribe-modal gradient-btn" data-toggle="modal" data-target="#myModal">Subscribe</a>
        </div>
      </div>
    </div>
  </div>


</section>
