<section class="privacy">
  <div class="container">
    <h2>PRIVACY POLICY</h2>

    <p>ARize Group BV as ARize Augmented Reality Platform (“ARize”, “Our”, “Us” or “We”) understands and respects your
      concerns about privacy. This notice describes ARize’s privacy policy as it pertains to the website at
      www.arize.io
      (the “Website”) and any mobile applications of any kind distributed by ARize (the “Applications,” and together
      with
      the Website, the “ARize Products”). We may from time-to-time revise this privacy policy, and the date of last
      revision will be available at the top of this page, so please make sure that you check back periodically. By
      visiting the ARize Products, you are acknowledging and accepting this Privacy Policy. Your continued use of the
      ARizeProducts after changes have been posted to the Privacy Policy will constitute your acceptance of such
      changes.</p>

    <h4>Our Policy Towards Children</h4>

    <p>ARize is committed to complying with all applicable laws and regulations regarding the collection, storage and
      use of personally identifiable information concerning children under the age of 13, including the Children’s
      Online Privacy Protection Act in the United States and applicable local legislation in other territories.</p>

    <p>If you are a parent or guardian that has become aware that your child has provided us with personal information
      without your consent, you should contact us immediately by way of the contact details provided in the “Contacts”
      section. We do not knowingly collect personally identifiable information from children under the age of 13. If we
      become aware that a child under the age of 13 has provided us with personally identifiable information, we will
      delete such information from our system.</p>

    <h4>What information we collect</h4>
    <p>ARize Products may ask for and collect from you personally identifiable information at certain points throughout
      the ARize Products. Depending on the information and/or services you request, you may be asked to provide your
      name, email address, location and other personal information. Once you provide your personal information, you are
      not anonymous to ARize.</p>
    <p>In addition to the information you knowingly provide, ARize collects information such as the domain names and IP
      addresses of its visitors, as well as information about the device you use to access the ARize Products,
      including but not limited to unique device identifiers, browser type, browser language, your system and
      application software, and peripherals. ARize may also track, archive, use, disclose and transfer information
      regarding your use of the ARize Products as provided herein, including information about level of usage and
      particular features used. This data is used to more efficiently operate ARize’s business, promote ARize Products
      and services and administer the ARize Products.</p>
    <p>ARize may combine information it collects from you with information it obtains about you from third parties and
      affiliates.</p>
    <p>How ARize uses your information:</p>
    <p>ARize may use your information:</p>
    <ul class="dashed">
      <li>To provide you with personalized content.</li>
      <li>To process and respond to inquiries.</li>
      <li>For the purposes for which you provided the information.</li>
      <li>To improve the content, interactivity, usability, and navigability of the ARize Products.</li>
      <li>To alert you to new ARize Products including new features, special events, products and services, and to
        deliver newsletters from which you may opt out.</li>
      <li>To enforce ARize’s Terms of Service.In the future, ARize Augmented Reality Platform may sell some or all of
        our assets. In such transactions, customer information generally is one of the transferred business assets. In
        the event of a merger or sale of our assets including our database, customer information will be transferred.
        We will require buyers to honor this Privacy Policy or notify you before making any material changes to the
        practices outlined in this Policy.</li>
    </ul>

    <h4>Information Sharing with Affiliated Companies</h4>

    <p>We may share your personally identifiable information with other companies in the ARize family, co-branding
      partners and network partners, and will require any such recipient to comply with the provisions of this Privacy
      Policy.</p>

    <h4>Transfer of your information internationally</h4>
    <p>The ARize Products and services are available to users around the world. Your information will be processed,
      stored and transferred for the purposes set forth above in the section titled “How ARize uses your information”
      to countries outside your country of residence, including Armenia, which is where ARize Group BV is legally
      located/registered. Your information will be processed by staff operating outside your country of residence who
      work for ARize or for one of our service providers and may be seen by such staff in those countries. Data
      protection and privacy laws in these countries may not offer the same level of protection as your country of
      residence and you may have fewer legal rights in relation to your information.</p>
    <p>By using the ARize Products, you consent to these transfers taking place. If you do not consent to the transfer
      of your information, you should not use the ARize Products.</p>

    <h4>Sharing and use of de-identified information</h4>

    <p>Information that is de-identified (stripped of any information that could be used to identify you) may be used
      by ARize for any reason and shared freely with affiliates, partners and other third parties. This information is
      usually aggregated (combined with information from many other users), and may include information such as traffic
      patterns, trends in connection with various types of inquiries, and other information.</p>

    <h4>How we collect information</h4>

    <p>In addition to the methods described above, we may also collect information using:</p>

    <ul class="dashed">
      <li>cookies, locally stored Flash objects (sometimes referred to as “Flash cookies”);</li>
      <li>web beacons or similar technologies; and</li>
      <li>analytic software embedded in the ARize Products.</li>
    </ul>

    <p>The above methods permit us to collect various types of information, including, but not limited to, the pages
      you visit, which of our email messages you read, your specific geolocation (with your permission) and other
      information.</p>

    <h4>Cookies</h4>
    <p>Cookies are small pieces of data stored on your computer by websites including this one. Cookies usually contain
      anonymous information which can only be accessed by the website which placed it on your computer.</p>
    <p>You can delete cookies, however you may lose information which enables you to access the website more quickly or
      enables use of certain services or systems on the website.</p>
    <p>You can choose to disable cookies in your browser. By default your browser will accept cookies. For further
      details please consult the help menu in your browser. Disabling cookies may prevent you from using certain areas
      of the website, as well as some services. The website also provides you with the choice to enable or disable
      cookies for this website only.</p>
    <h4>We use cookies for the following:</h4>

    <p>- Learning how you use the website</p>
    <p>- Saving your preferences for the website and services.</p>
    <h4>Opting out of geolocation</h4>
    <p>If you have previously allowed us to access your geolocation data, you can stop making geolocation available to
      us by visiting your mobile device’s settings.</p>
    <h4>How we protect information</h4>
    <p>Although ARize strives to protect your information by implementing reasonable security control measures and
      safeguards, we are unable to guarantee or warrant the security of any information transmitted to us through the
      ARize Products or that we store on our systems or that is stored on our third party contractors’ systems.</p>
    <h4>Targeted Advertising</h4>
    <p>We may use third-party advertising companies to serve ads when you visit and/or use the ARize Products. Some of
      these companies may use information (not including your name, address, email address or telephone number) about
      your visits and/or use of the ARize Products and other websites in order to provide advertisements about goods
      and services that may be of interest to you. We may also allow advertisers and other third parties to place or
      recognize a unique cookie or similar technology on your browser in order to collect non-personally identifiable
      information about your visits and/or use of the ARize Products. To learn more about this practice, its benefits,
      or about your choice to opt-out of this practice for the Website, see <a href="http://www.networkadvertising.org/optout_nonppii.asp">networkadvertising.org/optout_nonppii.asp</a>.</p>
    <h4>Links</h4>
    <p>The ARize Products may contain links to third-party websites. ARize is not responsible for the privacy practices
      or the content of such websites.</p>
    <h4>California Privacy Rights</h4>
    <p>As of 1st January 2005, California Civil Code Section 1798.83 (the “Code”) permits users who are California
      residents to request certain information regarding the disclosure of personal information to third parties which
      is used for their direct marketing purposes. To make such a request, to which ARize shall respond to the extent
      required by the Code, contact us at <a href="mailto:contact@arize.io?subject=California Customer Choice
        Notice."
        target="_blank" style="color: #333333; text-decoration: none;"><u>contact@arize.io</u></a>, specifying
      that you seek your “California Customer Choice Notice.”Please allow thirty (30) days for a response.</p>
    <h4>Changes to this Privacy Policy</h4>
    <p>This Privacy Policy may be updated from time to time and without prior notice to you to reflect changes in our
      personal information practices. We will post the revised version with an updated revision date, at <a href="http://www.arize.io/privacy">http://www.arize.io/privacy</a>.</p>
    <p>Contacts: If you have any questions, concerns, or suggestions regarding this privacy policy, please contact us
      at <a href="mailto:contact@arize.io?subject=Contact" target="_blank" style="color: #333333; text-decoration: none;"><u>contact@arize.io</u></a>
      Copyright © 2018 ARize Group BV. All rights reserved.</p>

  </div>
</section>
