<!-- Pricing Section  -->
<section class="pricing">
  <div class="container">
    <div class="row">
      <h2>Pricing</h2>
    </div>

    <div class="row justify-content-center pricing-btn ">
      <button class="pricing-btn-item selected_btn" href="#" (click)="clickMe()">Augmented Reality</button>
      <button class="pricing-btn-item" href="#" (click)="clickMe()">Interactive Project</button>
    </div>

    <div class="row justify-content-center pricing_option">
      <div class="pricing-ar-cards">

        <div class="card-deck">
          <div class="card pricing_card" style="height:28rem; width: 17rem;" *ngFor="let price of prices">
            <div class="pricing_title">
              <span>{{price.title}}</span>
            </div>
            <div class="pricing_price">
              <h4><sup>{{price.currency}}</sup><b>{{price.price}}</b><sub>{{price.sub}}</sub></h4>
              <p>{{price.vat}}</p>
            </div>
            <div class="card-body pricing_card_body">
              <div class="option">
                <ul>
                  <li>{{price.option1}} <span><i class="fa fa-check" aria-hidden="true"></i></span></li>
                  <li>{{price.option2}} <span><i class="fa fa-check" aria-hidden="true"></i></span></li>
                  <li>{{price.option3}} <span><i class="fa fa-times" aria-hidden="true"></i></span></li>
                  <li>{{price.option4}}<span><i class="fa fa-times" aria-hidden="true"></i></span></li>
                </ul>
              </div>
            </div>

            <div class="pricing_card_btn">
              <div class="Ocean">
                <div class=" Coral">
                  <button href="#" data-toggle="modal" data-target="#modalPriceBasic" data-price-name="trial"
                    data-content='<div class="modal-header">
                    <h4 class="modal-title">Trial</h4>
                    <p>We will contact you soon</p>
        </div>'
                    data-form-pricing-content='

                    <!-- description input-->
                    <div class="form-group center">
                        <textarea name="description" id="" cols="40" rows="5" placeholder="Description" class="form-control"></textarea>
                    </div>'>{{price.btn_text}}<span
                      class="Coralwave1"></span><span class="Coralwave2"></span><span class="Coralwave3"></span></button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center pricing_interactive_project pricing_option hideDiv">
      <div class="pricing_interactive_project_desc">
        <h3>Interactive Project</h3>
        <p>Interactive project is a combination of the hardware (screen, camera, sensor (e.g. Kinect), etc.) and
          software, through which any kind of interactive campaigns can be launched. This includes the understanding of
          your needs, consulting and support within the scope of your project. Our specialists will develop an
          Augmented or Virtual Reality solutions which will best satisfy your needs.</p>
      </div>

      <div class="card pricing_card" style="height:28rem; width: 17rem;">
        <div class="pricing_title">
          <span>Starting from</span>
        </div>
        <div class="pricing_price">
          <h4><sup>$</sup><b>4000</b><sub>/One Time</sub></h4>
          <p>VAT not included</p>
        </div>
        <div class="card-body pricing_card_body">
          <div class="option">
            <ul>
              <li>Interactive AR/VR <span><i class="fa fa-check" aria-hidden="true"></i></span></li>
              <li>Basic Content <span><i class="fa fa-check" aria-hidden="true"></i></span></li>
              <li>6 month Support <span><i class="fa fa-times" aria-hidden="true"></i></span></li>
            </ul>
          </div>
        </div>
        <div class="pricing_card_btn">
          <div class="Ocean">
            <div class=" Coral">
              <button href="#" data-toggle="modal" data-target="#modalPriceBasic" data-price-name="trial" data-content='<div class="modal-header">
                <h4 class="modal-title">Trial</h4>
                <p>We will contact you soon</p>
    </div>'
                data-form-pricing-content='

                <!-- description input-->
                <div class="form-group center">
                    <textarea name="description" id="" cols="40" rows="5" placeholder="Description" class="form-control"></textarea>
                </div>'>LET'S
                TRY<span class="Coralwave1"></span><span class="Coralwave2"></span><span class="Coralwave3"></span></button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>




</section>
<!-- Pricing Section End  -->

<!--========MODAL for pricing-->
<div class="modal fade in" id="modalPriceBasic" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header-content">
        <div class="">
          <h4 class="modal-title">Augmented Reality 2D&amp;3D content creation and setup </h4>
          <p>We will contact you soon</p>
        </div>
      </div>
      <div class="modal-body">

        <form [formGroup]='priceForm' (ngSubmit)="doPurchase()" class="well form-horizontal bv-form" id="pricing-form">
          <!-- Name input-->
          <div class="form-group center">
            <input formControlName="first_name" placeholder="Full Name" class="form-control" type="text" data-bv-field="first_name">
          </div>
          <!-- Email input-->
          <div class="form-group center">
            <input formControlName="user_email" placeholder="E-Mail Address" class="form-control" type="email"
              data-bv-field="email">
          </div>
          <div class="form-pricing-content">

            <div class="calc-cover row">
              <!-- content quantity input-->
              <div class="calc-input form-group col-md-6">
                <span>3D models & animation</span>
                <input formControlName="quantity_2d" type="number" min="0" step="1" placeholder="0" data-bv-field="quantity_2d">
              </div>
              <!-- target quantity input-->
              <div class="calc-input form-group col-md-6">
                <span>2D animation & video</span>
                <input formControlName="quantity_3d" type="number" min="0" step="1" placeholder="0" data-bv-field="quantity_3d">
              </div>
            </div>


            <!-- description input-->
            <div class="form-group center">
              <textarea formControlName="description" id="" cols="40" rows="5" placeholder="Description" class="form-control"></textarea>
            </div>
          </div>

          <div class="form-group">
            <re-captcha (resolved)="resolved($event)" siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI" class="g-recaptcha"
              data-callback="recaptchaCallback"></re-captcha>
          </div>



          <!-- Success message -->
          <div class="alert alert-success rec" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i>
            Thanks for contacting us, we will get back to you shortly.</div>
          <!-- Fail message -->
          <div class="alert alert-danger" role="alert" id="danger_message">Error <i class="glyphicon glyphicon-thumbs-down"></i>
            Sorry, something went wrong. Try to reload page.</div>
          <!-- Image loader -->
          <div id='loader' style='display: none;'>
            <!-- <img src='assets/img/preloader.gif' width='32px' height='32px' alt="AR app"> -->
          </div>
          <!-- Image loader -->
          <!-- Button -->
          <div class="form-group center sendForm">
            <button type="submit" class="btn">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
