<section class="guidelines">
  <div class="container">
    <h4>Community Guidelines</h4>
    <p>ARize is about having fun, being curious about the world around you and expressing yourself. Our goal in creating
      these guidelines is to make sure that everyone understands what’s ok and not ok to post. This means that users can
      feel safe and are not subjected to offensive content.</p>
    <p>This is an open platform, so please be thoughtful about adding or posting stuff that might offend others. It’s
      okay with us if someone expresses their opinion, but just don’t be nasty or offensive. ARize attempts to detect
      content that breaks our guidelines and notify users but it doesn’t always work perfectly, so if you see offensive
      content please notify us via the report function in the “Support” menu in the “Settings”.</p>
    <p>Please keep it legal. Don’t use ARize to advertise or promote any illegal nonsense.</p>
    <p>Do not add anything that:</p>
    <p>- Contains content of a sexual nature (that means it includes nudity and/ or pornography). Don’t put up or send
      any nude or sexual content of yourself, or of anyone else for that matter.</p>
    <p>- Contains content that may not be suitable for under 16’s - References to alcohol, sex, drugs and smoking are
      not nice.</p>
    <p>- Content that attempts to impersonate another person - don’t pretend to be someone you’re not, you’re great
      enough! You don’t need to pretend you’re a celebrity, brand or organisation; we don’t like fakes!</p>
    <p>- Promotes bullying, hate speech, racism, threatens or harasses people - remember this is an open platform and we
      want everyone to feel safe.</p>
    <p>- Content that could invade or violate someone’s privacy - feel free to post about your own life but respect the
      fact that others may not want theirs’ made public. And don’t defame people please.</p>
    <p>- Shows scenes of violence and/or graphic content.</p>
    <p>- Spams or solicits other users.</p>
    <p>- And don’t do anything that may violate or infringe someone’s right of publicity, privacy, copyright, trademark
      or other similar right</p>
    <p>If you violate these rules, we may remove the offending content or suspend or terminate your account. It’s at our
      discretion. If your account is terminated, you won’t be allowed to use ARize again.</p>
    <p>Please take these guidelines seriously and honor them in the spirit in which they are intended. They will change
      and evolve along with the products and services ARize may introduce to you in the future. We will do our best to
      enforce them consistently and fairly, and ultimately we’ll try to do what we think is best in each situation, at
      our own discretion.</p>
    <p>If you think something that you posted has been unfairly removed please contact us at:<a
        href="mailto:contact@arize.io?subject=" account="" target="_blank"
        style="color: #333333; text-decoration: none;"><u>contact@arize.io</u></a></p>

  </div>
</section>
