<section class="photo-gallery">
  <div class="container">
    <div class="row">
      <h1>
        <a href="/photo-gallery-ayb">Ayb School students explore the space with ARize</a>
      </h1>
    </div>
    <div class="row">
      <h3><i class="fa fa-clock-o"><time>February 6, 2018</time></i></h3>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="item">
          <a href="/photo-gallery-ayb"><img width="109%" src="/assets/img/photo-gallery/AYB/01.jpg"
              alt="ARize ASAB promo"></a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="item">
          <a href="/photo-gallery-ayb"><img width="100%" src="/assets/img/photo-gallery/AYB/02.jpg" alt="our works"></a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="item">
          <a href="/photo-gallery-ayb"><img width="100%" src="assets/img/photo-gallery/AYB/03.jpg"
              alt="10 days before New Year countdown"></a>
        </div>
      </div>

    </div>
    <div class="row">
      <h1>
        <a href="/photo-gallery-zoetermeer">Zoetermeer City Hall</a>
      </h1>
    </div>
    <div class="row">
      <h3><i class="fa fa-clock-o"><time>January 26, 2018</time></i></h3>
    </div>
    <div class="row">

      <div class="col-md-4">
        <div class="item">
          <a href="/photo-gallery-zoetermeer"><img width="100%"
              src="/assets/img/photo-gallery/zootemir-city-hall/01.jpg" alt="ARize ASAB promo"></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item">
          <a href="/photo-gallery-zoetermeer"><img width="100%"
              src="/assets/img/photo-gallery/zootemir-city-hall/02.jpg" alt="our works"></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item">
          <a href="/photo-gallery-zoetermeer"><img width="100%" src="assets/img/photo-gallery/zootemir-city-hall/03.jpg"
              alt="10 days before New Year countdown"></a>
        </div>
      </div>
    </div>
  </div>
</section>
