.contact-form {
  width: 100%;
  height: auto;
  border: 0.5px solid #dcdcdc;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;

  &-title {
    font-size: 30px;
    font-family: Roboto;
    font-weight: bold;
    line-height: 1.20;
    color: #1f7eef;
    text-align: center;
    padding: 10px;
    border-bottom: 0.5px solid #dcdcdc;

  }

  & input[type=submit] {
    width: 119px;
    height: 40px;
    border-radius: 4px;
    background-color: #1f7eff;
    font-size: 14px;
    font-family: Roboto;
    font-weight: normal;
    line-height: 0.85;
    color: #fff;
    text-transform: uppercase;
  }

  & .form-group {
    margin: 45px;




    & input[type=text] {
      border-radius: 0px;
      border: 1px solid #bce0fd;

      &::placeholder {
        color: #1f7eef;
        font-size: 14px;

      }

    }
  }


}
