<!-- WhyUs Section -->
<section class="whyus">
  <div class="container">
    <div class="row">
      <h2 class="section-title ">Why us?</h2>
    </div>

    <div class="row">
      <div class=" col-md-12 col-lg-4 description_column">
        <div class="row">
          <div class="col-md-12 features-item">
            <img class="icon_image" src="assets/img/why_us_images/rocket1.gif" width="15%" alt="AR apps" />
            <div class="description">
              <p class="description_title">Blazing Fast</p>
              <p class="description_text">
                5X faster image detection and content loading
              </p>
            </div>
          </div>
          <div class="col-md-12 features-item">
            <img class="icon_image" src="https://ivankatsarovbeingdigital.files.wordpress.com/2013/11/happy.gif" width="15%"
              alt="Augmented reality software" />
            <div class="description">
              <p class="description_title">Add Free</p>
              <p class="description_text">Free for users and NO ads at all</p>
            </div>
          </div>
          <div class="col-md-12 features-item">
            <img class="icon_image" src="assets/img/why_us_images/lightbulb.gif" width="15%" alt="AR application" />
            <div class="description">
              <p class="description_title">Quality</p>
              <p class="description_text">
                Best quality in terms of content and AR technology
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-md-12 col-lg-4 description_column order2">
        <div class="row">
          <div class="col-md-12 features-item">
            <img class="icon_image" src="assets/img/why_us_images/network.gif" width="15%" alt="3D AR" />
            <div class="description">
              <p class="description_title">Dynamic</p>
              <p class="description_text">
                Platform accepts all type of Data from Videos, 3D/2D models,
                animation, etc. and provides a corresponding user interface
              </p>
            </div>
          </div>
          <div class="col-md-12 features-item">
            <img class="icon_image" src="assets/img/why_us_images/support.gif" width="15%" alt="Augmented reality app" />
            <div class="description">
              <p class="description_title">24/7 support</p>
              <p class="description_text">
                24/7 support during the entire customer journey
              </p>
            </div>
          </div>
          <div class="col-md-12 features-item">
            <img class="icon_image" src="assets/img/why_us_images/circle.gif" width="15%" alt="AR experience" />
            <div class="description">
              <p class="description_title">Community Driven</p>
              <p class="description_text">
                The community driven platform makes us much faster in terms of
                content creation process.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-lg-4 phone_column order1">
        <div class="features_image">
          <img class="phone_image" src="assets/img/why_us_images/phone.jpg" alt="augmented reality apps iphone" />
          <img class="ar_image" src="assets/img/why_us_images/screenshot1.jpg" alt="ar mobile games" />
          <img class="ar_image" src="assets/img/why_us_images/screenshot2.jpg" alt="augmented images" />
          <img class="ar_image" src="assets/img/why_us_images/screenshot3.jpg" alt="Augmented reality" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- WhyUs Section End -->
