<section class="terms">
  <div class="container">
    <h2>Terms & Conditions</h2>
    <h3>ARize Terms of Use Agreement</h3>
    <h3>Date of last Revision: 11th January 2018</h3>
    <p>Thank you for deciding to use ARize, we are delighted that you are as curious as we are about the world around
      you!</p>
    <p>It’s important that you read this Terms of Use Agreement (this “Agreement”) as it is a legally binding agreement
      between you and ARize (“ARize,” “we,” “us” or “our”) regarding ARize’s App, its website and its other products,
      services and features it may make available to you (the “Services”).  By using or accessing the Services you
      agree to the terms of this Agreement. For some of our Services you may have additional terms and conditions to
      accept so please be aware of this and if there is any conflict between those and this Agreement then the new
      terms will apply to you.</p>
    <h4>What is ARize?</h4>
    <p>ARize is the world's first Augmented Reality Creation Platform, using augmented reality and computer vision
      technology to transform how you connect with the world.</p>
    <ol>
      <p>The key points of the platform are:</p>
      <li>AR Creator Tool: The platform has a built-in AR creation tool that allows everyone to create AR samples and
        publish it instantly with a wide variety of. The app is giving the ability to receive statistics, track and
        optimize AR posts to have a better performance.</li>
      <li>AR Scanner: The platform enables users to scan the target (image, 3D object) to have an interactive AR
        experience and provides marker-less AR.</li>
      <li>3D Gallery: The platform has a built-in 3D gallery of AR content which users can use to make AR experience.</li>
    </ol>
    <p>ARize AR creation tool allows everyone to create Augmented Reality samples right on mobile device without having
      any technical knowledge within 3 simple steps:</p>
    <ol>
      <li>Choosing the target. </li>
      <li>Choosing the content( video, Image gallery, 3D models) </li>
      <li>Publishing.</li>
    </ol>
    <p>As part of our offering to other businesses, we enable them to offer augmented reality content as part of their
      advertising and marketing campaigns.</p>
    <p>At ARize we are working to build a service which is useful and fun for our users.  The ARize Services covered by
      this Agreement are constantly evolving as we add new features to improve your experience. We may need to update
      this Agreement as a result of this and so we would encourage you to regularly review it; the process for us
      updating it is set out in 
      <a href="#section-9">section 9</a></p>
    <p>When we refer to ‘’we’’ or ‘’our’’ or ‘’ARize’’ in this Agreement we are referring to ARize Group BV (registered
      in Armenia, number 02657153).</p>
    <p>The ARize Services are intended to be used by those who are 13 and over; if you are not 13 then please do not
      continue to download or use the Services. With respect to our AR Creation feature, this is intended to be used by
      those who are 16 and over; if you are not 16 then please do not continue with .</p>
    <ol>
      <li>
        <h4>Privacy</h4>
        <p>Your privacy is important to us and so we encourage you to please read and understand the contents of our <a
            routerLink="privacy-policy">Privacy Policy</a> before using the ARize App or ARize Services or accessing
          the ARize
          Platform.</p>
      </li>
      <li>
        <h4>Your Use of the ARize App & Services</h4>
        <p>The ARize App permits you to use the ARize software application for mobile devices (“ARize App”) and the
          ARize augmented reality platform (“ARize Platform”) that ARize may make available from time to time from your
          mobile device (“Device”).</p>
        <p>Once you download the ARize App onto your Device and agree to be bound by this Agreement and the <a
            routerLink="privacy-policy">Privacy
            Policy</a>, you may use the ARize App to use the ARize Platform. </p>
      </li>
      <li>
        <h4>Accessing Content we make available to you</h4>
        <p>We give you access to some great content! Our Service allows you to view, upload and store content created
          by us and from third parties including other users (“ARize Content”). So you can use the ARize Content, the
          Services and Platform, ARize grants you a personal, worldwide, royalty-free, non-assignable, non-exclusive,
          revocable and non-sublicensable license to it. This license is for the sole purpose of letting you use and
          enjoy the Service consistent with this Agreement, our usage policies and any additional license terms you
          might receive.</p>
        <p>Any software that we give you access to may automatically download and install upgrades, updates or other
          new features. Your Device settings may allow you to adjust these automatic downloads. You may not copy,
          modify, distribute, sell or lease any part of the Service nor may you reverse engineer or attempt to extract
          the source code of that software, unless applicable laws prohibit these restrictions or you have our written
          permission to do so.</p>
      </li>
      <li>
        <h4>Sharing your User Generated Content with ARize</h4>
        <p>When you use the ARize App and Services to view ARize Content you may also be scanning images of what is
          around you or adding content yourself from other sources (“User Generated Content”). You are submitting this
          digital User Generated Content to our Platform</p>
        <p>Don’t worry, you retain whatever ownership rights that you had in the User Generated Content but so we can
          continue to provide you and other users with our Service you grant us a non-exclusive, perpetual,
          transferable, sub-licensable, royalty-free, non-revocable, worldwide license to copy, host, modify, display,
          reproduce, edit, publish, create derivative works from, publicly display, distribute and otherwise use the
          User Generated Content to enable us to operate, develop, make available, promote and improve the ARize
          Service and Platform.</p>
        <p>Any User Generated Content you add must comply with our <a routerLink="guidelines">Community Guidelines</a>.
          If your User Generated Content contains information about yourself then please review our <a routerLink="privacy-policy">Privacy
            Policy</a> where you will be able to learn more about what others can see about you and how you can manage
          that.</p>
      </li>
      <li>
        <h4>Third Party Content</h4>
        <p>We are lucky to be able to make available to you content from lots of different sources including other
          users, publishers and other third parties. This is what enables us to give you such a great augmented reality
          experience! We may review any content that appears on the Services – whether that’s added by you or a third
          party - and remove without notice any content that we reasonably believe to be in breach of this Agreement
          and all associated policies e.g., Community Guidelines, however, we are not obliged to do this and so we do
          not take responsibility for any content that others provide through the Services.</p>
        <p>We welcome feedback and if you have comments or want to report an issue relating to ARize Content, User
          Generated Content or Third Party Content, including any content that is outside of our <a routerLink="guidelines">Community
            Guidelines</a> then please email us at <a href="mailto:contact@arize.io?subject=Contact" target="_blank"
            style="color: #333333; text-decoration: none;"><u>contact@arize.io</u></a> </p>
      </li>
      <li>
        <h4>Proprietary Rights</h4>
        <p>We reserve all intellectual property rights in the ARize App, the ARize Services and the ARize Platform,
          except for the rights expressly granted in this Agreement and you accept and acknowledge that all
          intellectual property rights in the ARize Content belong to ARize or its licensors.</p>
        <p>You may not remove or alter any trademark, logo, copyright or other proprietary notice in or on the ARize
          App, ARize Services, ARize Platform or any in ARize Content.</p>
        <p>This Agreement does not grant you any right to use the trademarks, service marks, copyright works or logos
          of ARize, its licensors or any other third parties.</p>
      </li>
      <li>
        <h4>Termination</h4>
        <p>If you breach this Agreement or otherwise create unacceptable risk or exposure for us, we may immediately
          terminate this Agreement or cease to provide all or part of the Services to you. In such cases the Agreement
          will terminate except that Sections 4, 10-19 will survive termination and will continue.</p>
        <p>We may terminate this Agreement for any reason by giving you at least 1 calendar month’s notice. Upon
          termination, you will no longer be able to use the ARize App or Services and you must cease such use and also
          delete all copies of the ARize App that you have downloaded.</p>
      </li>
      <li>
        <h4>Your Restrictions and Usage Rules</h4>
        <ol style="list-style-type:none;">
          <li>
            <h4>8.1. Restrictions</h4>
            <p>You may not use the ARize App on any Device that you do not own or control, and you may not distribute
              or make the ARize App available over a network where it could be used by multiple devices at the same
              time.</p>
            <p>You may not rent, lease, lend, sell, redistribute or sublicense the ARize App or any ARize Content.</p>
            <p>You may not copy (except as expressly permitted by this Agreement and the usage rules described in
              Section 3.2), decompile, reverse engineer, disassemble, attempt to derive the source code of, modify or
              create derivative works of the ARize App, any updates or any part thereof, or of any ARize
              Content (except to the extent any foregoing restriction is permitted by applicable law). </p>
          </li>
          <li>
            <h4>8.2. Usage Rules</h4>
            <p>You acknowledge that the ARize App contains security technology that limits your usage of the ARize App
              to the following applicable usage rules however whether or not the ARize App is limited by security
              technology, you agree to use the ARize App in compliance with the following applicable usage rules:</p>
            <ol type="a">
              <li>your use of the ARize App is conditioned upon your prior acceptance of the terms of this Agreement;</li>
              <li>you will be able to store the ARize App from up to five different Accounts (as defined in the Apple
                Terms of Service) on certain devices, including the Devices, at a time;</li>
              <li>you will be able to store the ARize App on five authorized devices at any time;
              </li>
              <li>you will not attempt to, or encourage or assist any other person to circumvent or modify any security
                technology or software that is part of the Service (as defined in the Apple Terms of Service) or used
                to administer the Usage Rules (as defined in the Apple Terms of Service);
              </li>
              <li>the delivery of the ARize App does not transfer to you any promotional use rights in the ARize App or
                the ARize Content; and
              </li>
              <li>you shall be able to manually sync the ARize App from at least one authorized device to devices that
                have manual sync mode, provided that the ARize App is associated with an Account (as defined in the
                Apple Terms of Service) on the primary iTunes authorized device, where the primary iTunes-authorized
                device is the one that was first synced with the device, or the one that you subsequently designate as
                primary using iTunes.</li>
            </ol>
          </li>
        </ol>
      </li>
      <li>
        <h4 id="section-9">Changes to this Agreement</h4>
        <p>We may need to modify this Agreement from time to time. In most circumstances the reasons for these
          modifications are to reflect changes in our products and services, in the law, to meet regulatory
          requirements or to reflect new industry guidance and codes of practice.</p>
        <p>If we modify the Agreement, we will post a notice on the ARize website located at http://www.arize.io, or
          put a notice within the ARize App. Your continued use of the Service following notice of the changes to the
          Agreement, policies, guidelines constitute your acceptance of our amended Agreement, policies or guidelines.
          You should discontinue to use the Service if you do not agree with the changes.</p>
      </li>
      <li>
        <h4>Infringement</h4>
        <ol style="list-style-type:none;">
          <li>10.1.Our Options
            <p>If the Service infringes or misappropriates, or in our reasonable determination is likely to infringe or
              misappropriate any third party’s intellectual property rights, then we may, at our sole option and
              expense:</p>
            <ol type="a">
              <li>obtain from the third party the right to continue to use the Service consistent with the rights
                granted hereunder; or</li>
              <li>modify the ARize App or Service to avoid and eliminate such infringement or misappropriation.</li>
            </ol>
          </li>
          <li>10.2.Exclusions
            <p>We will not be liable for any infringement based on:</p>
            <ol type="a">
              <li>modification of the ARize App by anyone other than us; or</li>
              <li>the combination of the ARize App with other software, items or processes not furnished by us if such
                infringement would have been avoided by the use of the Software alone; or any ARize Content.</li>
            </ol>
          </li>
        </ol>
      </li>
      <li>
        <h4>Disclaimer of Warranty</h4>
        <p>The services and platform have been developed with, and are provided with, reasonable care and skill. ARize
          does not make any other promises or warranties about the ARize app or any ARize content and in particular
          does not warrant that: (I) the services will provide uninterrupted or error-free use and the services will be
          uninterrupted or error-free; and (II) the services will operate free from loss, corruption, attack, viruses,
          interference, hacking, or other security intrusion. You shall be responsible for backing up your own system.
          ARize does not warrant that the ARize content will be error-free, complete, accurate, available or
          uninterrupted. ARize expressly disclaims any implied warranties as to merchantability or fitness for purpose.
          Except as set out in section 12 below, or in the event that you are exercising any applicable statutory right
          to refund or compensation, in no case shall ARize be liable for any loss or damage caused by the ARize app
          where: (I) there is no breach of a legal duty of care owed to you by ARize; (II) it is not a reasonably
          foreseeable result of any such breach; (III) any increase in loss or damage results from breach by you of any
          term of this agreement; (IV) it results from a decision by ARize, to suspend or terminate your access to the
          ARize app or the ARize service, or to take any other action during the investigation of a suspected breach or
          as a result of a breach, of this agreement; (v) it relates to loss of income, business or profits, or any
          loss of data or corruption of data in connection with your use of the ARize app or the ARize service; or(VI)
          the loss or damage is indirect.</p>
      </li>
      <li>
        <h4>No Limits or Exclusions</h4>
        <p>Nothing in this Agreement excludes or limits ARize’s liability for fraud, fraudulent misrepresentation or
          for death or personal injury.</p>
      </li>
      <li>
        <h4>Suspension of the ARize App and ARize Services</h4>
        <ol style="list-style-type:none;">We can, at any time, suspend your use of the ARize App and/or ARize Services.
          We will do this if we think it is reasonably necessary because:
          <li>13.1.we have concerns about the security of the ARize App, ARize Platform or ARize Services;
          </li>
          <li>13.2.we are obliged to do so in order to comply with the order of a court, regulatory authority or other
            government body;</li>
          <li>13.3.we reasonably believe that your account information is fake and/or you are impersonating another
            person;</li>
          <li>13.4.we reasonably believe that you are using the ARize App or ARize Services in a manner that is
            inconsistent with or breaches any of our or third parties’ usage rules; or</li>
          <li>13.5.we are investigating a report against your account or any User Generated Content you have added.
            <p>We will usually give you advance notice of any suspension and tell you why. However, we will not do so
              if this would compromise our reasonable security measures or it is unlawful to do this. Occasionally, we
              may not be able to contact you to give you advance notice.
            </p>
          </li>
        </ol>
      </li>
      <li>
        <h4>Mobile & Other Devices</h4>
        <p>We currently do not charge you for our Service but please be aware that your carriers normal rates and fees,
          such as data charges, will still apply.</p>
      </li>
      <li>
        <h4>Access to ARize Content & Third Party Sites</h4>
        <p>Your access to ARize Content is entirely at our discretion. We have the right to remove or change ARize
          Content at any time without notice to you and to determine which ARize Content you will have access to at any
          given time. We make no guarantee that ARize Content will be constantly or consistently available. ARize has
          no liability to you for the content of any Third Party Content.</p>
        <p>You acknowledge that ARize Content is for general information purposes only and is not intended to be relied
          upon for specific advice.</p>
        <p>If any ARize Content contains links to third party applications or websites (“Third Party Sites”), you
          accept and acknowledge that ARize is not responsible for the content or functioning of such Third Party
          Sites. We do not own or operate the Third Party Sites, and we have not reviewed, and cannot review, all of
          the material, including goods or services, made available through Third-Party Sites. The availability of
          these links in the ARize Content does not represent, warrant or imply that we endorse any Third Party Sites
          or any materials, opinions, goods or services available on them. If you choose to access Third Party Sites,
          you do so at your own risk and you agree to be bound by any additional terms of use (including any third
          party privacy policies) that apply to such Third Party Sites. ARize has no liability to you for your use of
          any Third Party Sites.</p>
      </li>
      <li>
        <h4>Injunctive Relief</h4>
        <p>We will have the right to seek injunctive relief to enforce this Agreement or to stop or prevent an
          infringement of proprietary or other third-party rights.</p>
      </li>
      <li>
        <h4>Choice of Law and Jurisdiction</h4>
        <p>This Agreement and any non-contractual obligations arising out of or in connection with it shall be governed
          by and construed in accordance with Armenian law. The Parties hereby agree to submit to the exclusive
          jurisdiction of the Armenian Courts in respect of all disputes arising out of or in connection with this
          Agreement.</p>
      </li>
      <li>
        <h4>APPLE INC</h4>
        <ul>the Platform may only be accessed and used on a device owned or controlled by you and using Apple’s iOS
          operating system, and only in accordance with Apple’s usage rules published in its App Store terms of
          service;</ul>
        <ul style="list-style-type:none;">-you acknowledge and agree that:
          <li>-- Apple has no obligation at all to provide any support or maintenance services in relation to Platform.
            If you have any maintenance or support questions in relation to the Platform, please contact us, not Apple,
            using the contact details set out at the end of this Agreement;</li>
          <li>-- except as otherwise expressly set out in this Agreement, any claims relating to the possession or use
            of the Platform are between you and us (and not between you, or anyone else, and Apple);</li>
          <li>-- in the event of any claim by a third party that your possession or use (in accordance with this
            Agreement) of the Platform infringes any intellectual property rights, Apple will not be responsible or
            liable to you in relation to that claim; and</li>
          <li>-- although these terms are entered into between you and us (and not Apple), Apple, as a third party
            beneficiary under these terms, will have the right to enforce these terms against you;</li>
        </ul>
        <ul style="list-style-type:none;">-you represent and warrant that:
          <li>--you are not, and will not be, located in any country that is the subject of a United States Government
            embargo or that has been designated by the United States Government as a "terrorist supporting" country;
            and
          </li>
          <li>--you are not listed on any United States Government list of prohibited or restricted parties; and
          </li>
        </ul>
        <ul>-if the Platform does not conform to any warranty applying to it, you may notify Apple, which will then
          refund the purchase price of the Platform (if any) to you. <br> Subject to that, and to the maximum extent
          permitted by law, Apple does not give or enter into any warranty, condition or other term in relation to the
          Platform and will not be liable to you for any claims, losses, costs or expenses of whatever nature in
          relation to the Platform or as a result of you or anyone else using the Platform or relying on any of its
          content.</ul>
      </li>
      <li>
        <ol type="a">
          <h4>Miscellaneous</h4>
          <li>IP Infringement:  you represent and warrant to us that the User Generated Content does not and will not
            infringe the rights (including the intellectual property rights) of any third party, is not obscene,
            defamatory, pornographic or otherwise offensive, and shall comply with all applicable laws, rules and
            regulations. If any claim or allegation is made against us, that the User Generated Content infringes any
            laws and/or the rights (including, without limitation, the intellectual property rights) of any third party
            you agree to help us resolve this and also indemnify ARize from and against all claims or losses that ARize
            might suffer as a result of such infringement.</li>
          <li>Entire Agreement. This Agreement constitutes the entire agreement between you and us regarding the use of
            this ARize App and supersedes any prior or contemporaneous understandings and agreements between you and us
            related to its subject matter.
          </li>
          <li>Third Party Beneficiaries. Any person who is not a party to this Agreement has no rights to enforce any
            terms of this Agreement.
          </li>
          <li>Non-Waiver. Our failure to exercise or enforce any right or provision of this Agreement shall not operate
            as a waiver of such right or provision.
          </li>
          <li>Severability. The parties agree that each provision of this Agreement is intended to be construed to be
            enforceable to the fullest extent possible. If any provision or part of a provision of this Agreement is
            held to be unlawful, void or unenforceable, that provision or part of the provision shall be deemed
            severable from this Agreement and not affect the validity and enforceability of any remaining provisions.
          </li>
          <li>Assignment. You may not assign your rights under this Agreement to any third party; we may freely assign
            our rights under this Agreement and the Agreement, including for the purposes of a merger, acquisition,
            sale of assets, by operation of law or otherwise.
          </li>
          <li>Product Questions, Comments, Claims and Contact Information. We are responsible for addressing any
            questions, comments or claims relating to the ARize App and Service and/or your use of the ARize App and
            Service, including but not limited to:
            <ol type="1">
              <li>product liability claims;
              </li>
              <li>personal data claims;</li>
              <li>any claim that the ARize App fails to conform to any applicable legal or regulatory requirement; and
              </li>
              <li>claims arising under consumer protection or similar legislation.  </li>
            </ol>
          </li>
        </ol>
      </li>

    </ol>
    <p>If you have any comments or questions, please contact ARize at:
    </p>
    <p><a routerLink="">contact@arize.io</a></p>
    <p>ARize Group BV</p>
    <p>Aleq Manukyan str. 1/5 7th building
      0025 Yerevan, Armenia</p>
    <p>Bleiswijkseweg 37c.
      2712PB Zoetermeer, Netherlands
    </p>


  </div>
</section>
