<nav class="navbar navbar-expand-lg navbar-dark  fixed-top arize-navbar">
  <!-- <div class="container"> -->
  <a class="navbar-brand" routerLink="">
    <img class="logo" src="../assets/img/header_images/Arize_Logo.png" />
  </a>
  <button class="navbar-toggler" (click)="clickToggler()" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="" [ngx-scroll-to]="'#header'">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngx-scroll-to]="'#services'">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngx-scroll-to]="'#pricing'">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/blogs">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact-us" href="#">Contact us</a>
      </li>
    </ul>
  </div>
  <!-- </div> -->
</nav>

<!--Navbar-->
<!-- <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top"> -->
<!-- Navbar brand -->
<!-- <mdb-navbar-brand>
    <a class="navbar-brand " href="#"
      ><img
        class="logo"
        src="../assets/img/header_images/Arize_Logo.png"
        alt=""/></a
  ></mdb-navbar-brand> -->

<!-- Collapsible content -->
<!-- <links> -->
<!-- Links -->
<!-- <ul class="navbar-nav mr-auto navbar-links">
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="" mdbWavesEffect
          >Home<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="blogs" mdbWavesEffect
          >Blog</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Contact us</a>
      </li>
    </ul> -->
<!-- Links -->
<!-- </links> -->
<!-- Collapsible content -->
<!-- </mdb-navbar> -->
<!--/.Navbar-->
