<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 footer_location column">
        <h3>FIND US</h3>
        <ul>
          <li><i class="fa fa-map-marker" aria-hidden="true"></i> Vlamingstraat 4</li>
          <li>2712BZ Zoetermeer, Netherlands</li>
          <li>Phone +31 79 203 3163</li>
        </ul>
        <ul>
          <li><i class="fa fa-map-marker" aria-hidden="true"></i> Aleq Manukian str. 1 7th building</li>
          <li>0025 Yerevan, Armenia</li>
          <li>+374 95 320235</li>
          <li>+374 55 888326</li>
        </ul>
      </div>
      <div class="col-md-3 column">
        <h3>INFORMATION</h3>
        <ul class="no_padding">
          <li><a href="/blogs/9987">Become Reseller</a></li>
          <li><a routerLink="privacy-policy">Privacy-Policy</a></li>
          <li><a routerLink="terms-of-use">Terms of Use</a></li>
          <li><a routerLink="guidelines">Community Guideline</a></li>
          <li><a routerLink="photo-gallery">Photo Gallery</a></li>
          <li><a href="assets/for_user_downloads/ARizeUserKit.rar" download="">Download ARize User Kit</a></li>
        </ul>
      </div>
      <div class="col-md-3 column">
        <h3>CONTACT US</h3>
        <ul class="no_padding">
          <li><a routerLink='about-us'>About</a></li>
          <li><a routerLink="contact-us">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-3 footer_subscribe column">
        <div class="footer_subscribe_content">
          <h3>Subscribe to ARize via Email</h3>
          <p>
            Subscribe and stay up to date on all of our news, features and
            achievements
          </p>
          <a data-toggle="modal" data-target="#myModal" class="subscribe-modal">Subscribe</a>
        </div>

        <ul>
          <li><a href="https://www.facebook.com/arizeplatform/" target="_blank"><i class="fa fa-facebook fa-2x"
                aria-hidden="true"></i></a></li>
          <li><a
              href="https://twitter.com/ARize_AR?lang=en&fbclid=IwAR35jZUjvpsS7J7Bcoqikg9j99U_ZhPF5pitKPLkyfPYizStEkMl828Is1Q"
              target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
          <li><a href="https://www.linkedin.com/company/triple-e-platform" target="_blank"><i
                class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
          <li><a
              href="https://www.instagram.com/arize_platform/?hl=en&fbclid=IwAR23QfNb1gaLVK9rDn6mnDZ9GLy4gwjYG2T9byoJhjVYcR05PhKx8sgYJDk"
              target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCFJw6U1pGVB_6VTcCH1yFfA" target="_blank"><i
                class="fa fa-youtube fa-2x" aria-hidden="true"></i></a></li>
        </ul>

        <span class="llc"><span>&copy;</span>ARize Group BV</span>

        <app-subscribe-forms></app-subscribe-forms>

      </div>
    </div>
  </div>
</div>
