<!-- Latest Section -->

<section class="latest">
  <div class="container">
    <div class="row">
      <h2>Latest</h2>
    </div>

    <div class="card-deck justify-content-center">
      <div class="row justify-content-center">
        <div class=" col-xs-12 col-md-12  col-lg-3 justify-content-center" *ngFor="let latest of latests; let firstCard = first"
          [ngClass]="{ newPost: firstCard}">
          <div class="card latest_card">
            <img src="{{ latest.image }}" class="card-img-top" alt="..." />
            <div class="card-body justify-content-center ">
              <p class="card-text">
                {{ latest.card_text }}
              </p>
              <a href="#" class="card-btn">{{ latest.btn_text }}</a>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</section>

<!-- Latest Section End -->
