<!-- Blog-feature Section -->

<section class="blog-feature">
  <div class="container">
    <div class="blog-title row">
      <h2 class="section-title ">Augmented Reality Portfolio</h2>
      <p>
        Click on one of the pictures below. <br />
        Open ARize Augmented Reality app and aim your phone to the picture to
        have an amazing AR experience.
      </p>
    </div>

    <div class="carousel" data-gap="20" data-bfc>
      <figure>
        <img src="assets/img/blog_feature_images/1.elephant.jpg" alt="" />
        <img src="assets/img/blog_feature_images/2.Drone.jpg" alt="" />
        <img src="assets/img/blog_feature_images/3.engine.jpg" alt="" />
        <img src="assets/img/blog_feature_images/4.jpg" alt="" />
        <img src="assets/img/blog_feature_images/5.jpg" alt="" />
        <img src="assets/img/blog_feature_images/6.JPG" alt="" />
        <img src="assets/img/blog_feature_images/7.jpg" alt="" />
        <img src="assets/img/blog_feature_images/8.jpg" alt="" />
      </figure>
      <nav>
        <button class="nav prev">&#10094;</button>
        <button class="nav next">&#10095;</button>
      </nav>
    </div>

    <div class="row justify-content-center blog-feature-btn-row">
      <a class="blog-feature-btn" href="">LEARN MORE</a>
    </div>
  </div>
</section>
<!-- Blog-feature Section End -->
