@import '~@ngx-share/button/themes/default/default-theme';


@font-face {
  font-family: Panton;
  src: url("/assets/fonts/Panton-Regular.otf");
}

@font-face {
  font-family: Panton-light;
  src: url("/assets/fonts/Panton-Light.otf");
}

@font-face {
  font-family: Panton-bold;
  src: url("/assets/fonts/Panton-Bold.otf");
}

@font-face {
  font-family: Panton-light-italic;
  src: url("/assets/fonts/Panton-LightItalic.otf");
}

@font-face {
  font-family: Grapalat;
  src: url("/assets/fonts/GHEAGrpalatReg.otf");
}

/*====PANTON===*/
@font-face {
  font-family: Roboto;
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf");
}




body {
  font-family: Roboto;
}

.section-title {
  margin: 90px auto 50px;
  font-family: Roboto;
  text-transform: uppercase;
  letter-spacing: 12.2px;
  font-weight: normal;
  font-size: 90px;
}



@media screen and (max-width: 1440px) {
  .section-title {
    font-size: 60px;
  }
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 55px;
  }
}

@media screen and (max-width: 400px) {
  .section-title {
    font-size: 35px;
  }
}

.gradient-btn {
  background: linear-gradient(90deg, #6e3694, #5253c9, #6f22a5);
  border: none;
  box-shadow: 2px 5px 20px -5px rgba(0, 0, 0, 0.1);
  background-size: 400%;
  transition: 0.5s;
  opacity: 1;
  animation: animateBtn 8s linear infinite;
}

.linkJson {
  color: #111c2f;
  text-decoration: underline;
}

// .gradient-btn:before {
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   border-radius: 5px;
//   opacity: 0;
//   background-size: 400%;
//   z-index: -1;
// }

@keyframes animateBtn {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 400%;
  }
}
